---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blogPosts");
  return posts.map((post) => ({
    params: {
      slug: post.id,
    },
    props: post,
  }));
}
const post = Astro.props;
console.log(post);
const { Content } = await render(post);
---

<div>
  <h1>{post.data.title}</h1>
  <p>{post.data.datePublished.toLocaleDateString()}</p>

  <Content />
</div>